body{
    background-color: #0a0b0a;
}

p{
    color: aliceblue;
}

input{
    margin-left: -6.5%;
}

button{
    border-radius: 5px;
    background-color: #000;
    font-weight: bold;
    width: 110%;
    margin-left: -3.5%;
}

